[submodule "fail2ban"]
	path = fail2ban
	url = git@github.com:archf/fail2ban.git
[submodule "roles/fail2ban"]
	path = roles/fail2ban
	url = git@github.com:archf/fail2ban.git
[submodule "roles/synergy"]
	path = roles/synergy
	url = git@github.com:archf/synergy.git
[submodule "roles/docker"]
	path = roles/docker
	url = git@github.com:archf/docker.git
[submodule "roles/resolv"]
	path = roles/resolv
	url = git@github.com:archf/ansible_resolv.git
[submodule "roles/accounts"]
	path = roles/accounts
	url = git@github.com:archf/accounts.git
