#!/bin/sh

# clone the repo
git clone {{ item.dotfiles_ssh }}  {{ item.home | default('/home/' + item.name) ~ '/dotfiles' }}

# generate the symlinks with the install script inside the dotfiles repo
source ~/dotfiles/install.sh
