### defaults for all ###
Host *
  User {{ item.name }}
  ForwardAgent no
  ForwardX11Trusted yes
  IdentityFile ~/.ssh/{{ item.name }}_{{ ansible_hostname }}
  # enable multiplexing
  ControlPersist 10m
  ControlMaster auto
  ControlPath ~/.ssh/controlmasters/%r@%h:%p

### personal machines ###
{% if item.name == 'archf' %}
Host htpc
  ForwardX11 yes
  ForwardAgent yes
  Hostname srv-htpc

Host rhtpc
  Hostname malfeo.hopto.org
  ForwardAgent yes
  Port 22222

Host hgw
  Hostname OpenWrt
  ForwardAgent yes
  User root

Host rhgw
  Hostname OpenWrt
  ForwardAgent yes
  User root
  Port 22222

### public git repos ###

Host bitbucket.org
  HostName bitbucket.org
  User git
  ForwardAgent no
  ForwardX11 no
  PreferredAuthentications publickey
  ControlMaster no

Host github.com
  Hostname github.com
  User git
  ForwardAgent no
  ForwardX11 no
  PreferredAuthentications publickey
  ControlMaster no
{% endif %}

# local vm
Host dbox
  ForwardX11 yes
  Hostname localhost
  User archf

### vagrant machines ###

Host dev1 172.16.2.160 vagant@172.16.2.160 mdns
  User vagrant
  Hostname 172.16.2.160
  # PreferredAuthentications publickey
  IdentityFile ~/.ssh/vagrant-ansible

Host dev2 172.16.2.161 vagant@172.16.2.161 sdns
  User vagrant
  Hostname 172.16.2.161
  # PreferredAuthentications publickey
  IdentityFile ~/.ssh/vagrant-ansible

### vl machines ###

{% if item.name == 'archambf' %}
Host *.ip.vi* *.lb.vi* 10.247.*
  User archambf

Host as01
  Hostname 10.23.100.8
  User archambf

Host lv820
  Hostname 10.247.42.63
  User archambf
  PreferredAuthentications publickey
{% endif %}
