TYPE=Ethernet
DEVICE={{ item.device }}
IPV4_FAILURE_FATAL=no
{% if item.onboot is defined %}
ONBOOT={{ item.onboot }}
{% endif %}
{# static configuration #}
{% if item.bootproto == 'static' or item.bootproto == 'none' %}
BOOTPROTO=none
{% if item.gw is defined %}
GATEWAY={{ item.gw }}
{% endif %}
{% if item.prefix is defined %}
PREFIX={{ item.prefix }}
{% endif %}
{% if item.ip is defined %}
IPADDR={{ item.ip }}
{% endif %}
{% for ip in item.ips if ip is defined %}
IPADDR{{ loop.index0 }}={{ ip.ip }}
PREFIX{{ loop.index0 }}={{ ip.prefix }}
{% endfor %}
{# dns for resolv.conf if peerdns is not defined or set to no
This prevent network service from updating /etc/resolv.conf with the DNS
servers received from a DHCP server. #}
{% if item.peerdns is defined and item.peerdns == 'yes'  %}
PEERDNS=yes
{% if item.dns1 is defined %}
DNS1={{ item.dns1 }}
{% endif %}
{% if item.dns2 is defined %}
DNS2={{ item.dns2 }}
{% endif %}
{% if item.dns3 is defined %}
DNS3={{ item.dns3 }}
{% endif %}
{% else %}
PEERDNS=no
{% endif %}
{% endif %}
{# dynamic configuration #}
{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}
{# ipv6 configuration #}
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_FAILURE_FATAL=no
IPV6_PEERROUTES=yes
IPV6_DEFROUTE=yes
IPV6_PEERDNS=yes

